streamlit 
numpy
pandas 
matplotlib 
seaborn

scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models.git
setuptools

supabase
bcrypt

segno # for qr code generation
pillow

librosa

torch --index-url https://download.pytorch.org/whl/cpu
webrtcvad-wheels
# resemblyzer --no-deps
git+https://github.com/resemble-ai/Resemblyzer.git

# ngrok http 8501
pyngrok