streamlit
numpy
pandas
matplotlib
seaborn
scikit-learn

setuptools==69.5.1
wheel

dlib-bin
face-recognition-models

supabase
bcrypt

segno
pillow

librosa

torch
webrtcvad-wheels
resemblyzer

pyngrok
